<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>p, anchor 태그</title>
</head>
<body>

	<!-- 기본 16 픽셀 크기로 나타냄  -->
	그냥 입력합니다 또 한번 그냥 입력합니다.
	<p>단락 태그입니다</p>

	<h1>제목 태그입니다</h1>
	단락 태그입니다

	<!-- <hr /> : 수평줄태그 -->
	<hr />

	<p>단락 태그입니다<br />단락 태그입니다</p>

	<!-- https://www.lipsum.com 웹페이지 디자인시 임시로 글자 넣기
	Lorem ipsum (줄여서 립섬, 내용보다 디자인 요소를 강조하기 위해 사용되는 텍스트)
	라틴어로 키케로가 지은 "최고 선악론"에 나오는 단어를 마구잡이로 추출하여 만든 글 -->
	<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting
		industry. Lorem Ipsum has been the industry's standard dummy text ever
		since the 1500s, when an unknown printer took a galley of type and
		scrambled it to make a type specimen book. It has survived not only
		five centuries, but also the leap into electronic typesetting,
		remaining essentially unchanged. It was popularised in the 1960s with
		the release of Letraset sheets containing Lorem Ipsum passages, and
		more recently with desktop publishing software like Aldus PageMaker
		including versions of Lorem Ipsum.
	</p>

	<p>단락태그입니다. 단락태그입니다. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 단락태그입니다.</p>
	
	<p>여긴 <단락태그>입니다</p>
	<p>여긴 &lt;단락태그&gt;입니다</p>
	
	<p>여긴 &단락태그&입니다</p>
	<p>여긴 &amp;단락태그&amp;입니다</p>
	
	<p>여긴 "단락태그"입니다</p>
	<p>여긴 &quot;단락태그&quot;입니다</p>

	<!-- 앵커 태그의 target 속성
		_self : 기본값, 현재 페이지에서 링크를 처리합니다.
		_blank : 새 창 또는 새 탭에서 링크를 처리합니다.  
	-->
	<a href="#">연습(빈링크)</a>
	<br />
	<a href="http://www.naver.com" target="_self">네이버 (target="_self")</a>
	<br />
	<a href="http://www.daum.net" target="_blank">다음 (target="_blank")</a>
	<br />
	<a href="sample.html">샘플파일로 이동</a>

</body>
</html>







