<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	//screen : 모니터 정보
	document.write("width : " + screen.width + "<br />");
	document.write("height : " + screen.height + "<br />");
	document.write("availwidth : " + screen.availWidth + "<br />");
	document.write("availheight : " + screen.availHeight + "<br />");
	document.write("colordepth : " + screen.colorDepth + "<br />");
	// colorDepth : 모니터 해상도 컬러 표현 지수  → 24(비트)
	
</script>
</head>
<body>

</body>
</html>