<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	var userName = prompt("당신의 영문 이름은?", "honggildong");
	var upperName = userName.toUpperCase();
	
	var userPhoneNumber = prompt("당신의 휴대폰 번호는?", "01012345678");
	
	var result1 = userPhoneNumber.substr(0, userPhoneNumber.length - 4)
								+ "****";
	var result2 = userPhoneNumber.substring(0, userPhoneNumber.length - 4)
								+ "****";
	
	var result3 = userPhoneNumber.substr(0, userPhoneNumber.length - 8)
								+ "****" 
								+ userPhoneNumber.substr(userPhoneNumber.length - 4, 4);
	
	var result4 = userPhoneNumber.substring(0, userPhoneNumber.length - 8)
								+ "****" 
								+ userPhoneNumber.substring(userPhoneNumber.length - 4, userPhoneNumber.length);
							
	document.write(upperName + "<br />");
	document.write(result1 + "<br />");
	document.write(result2 + "<br />");							
	document.write(result3 + "<br />");							
	document.write(result4 + "<br />");							

</script>
</head>
<body>

</body>
</html>