<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	var userName = prompt("당신의 이름은?", "");
	
	// ^x : 문자열이 x로 시작 / $x : 문자열이 x로 끝남
	var regName = /^[가-힣]{2,5}$/;
	// → /^[가-힣] : 한글로 시작
	// → {2, 5} : 한글이 2번이상 5번 이하
	
	// 이름 형식의 유효성 검사
	while (true) {
		if (!regName.test(userName)) {
			alert("이름 입력 형식이 잘못 되었습니다.");
			userName = prompt("당신의 이름은?", "");
		} else {
			break;
		}//if
	}//while
		
	var userCell = prompt("당신의 핸드폰 번호는?", "");
	var regCell = /^(010|011|016|017|018|019)\d{3,4}\d{4}$/
	// → (010|011|016|017|018|019) : 010 이거나 011 이거나 ~ 019이어야 함.
	// → d : 숫자 형식
	// → \ : 새롭게 다시 시작
	// → {3, 4} : 숫자가 3개 이상 4개 이하
	// → \d{4} : 그리고 숫자 형식이된 글자가 4개여야 함
	
	while (true) {
		if (!regCell.test(userCell)) {
			alert("휴대폰 입력 형식이 잘못 되었습니다.");
			userCell = prompt("당신의 핸드폰 번호는?", "");
			
		} else {
			break;
		}
	}
	
	var userEmail = prompt("당신의 이메일 주소는?", "");
	var regEmail = /^\w{5,12}@[a-z]{2,10}[\.][a-z]{2,3}[\.]?[a-z]{1,2}$/;
	// → \w : 알파벳, 숫자, _로 시작
	
	while (true) {
		if (!regEmail.test(userEmail)) {
			alert("이메일 입력 형식이 잘못 되었습니다.");
			userEmail = prompt("당신의 이메일 주소는?", "");
		} else {
			break;
		}
	}
	
	
	document.write(userName + "<br />");
	document.write(userCell + "<br />");
	document.write(userEmail + "<br />");
	
</script>
</head>
<body>

</body>
</html>